
<div *ngIf="academicDetails==[]">
    <p>Add personal Details</p>
    <button type="button" class="btn btn-primary" [routerLink]="['/resumes/',obtainedResumeId,'addPersonalDetails']">Add Personal details</button>
  </div>


<div>
    
    <div class="card mt-1" *ngFor="let academicDetails of academicDetailsList">
        <div class="row">
            <div class="col-md-10">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3><b>Course Name : </b>{{academicDetails.courseName}}</h3>
                        </div>
                        <div class="col">
                            <h3><b>Institution Name : </b>{{academicDetails.institutionName}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3><b>University or Board : </b>{{academicDetails.universityOrBoard}}</h3>
                        </div>
                        <div class="col">
                            <h3><b>Year of Passing : </b>{{academicDetails.yearOfPassing}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3><b>GPA or Percentage : </b> {{academicDetails.gpaOrPercentage}}</h3>
                        </div>
                        <div class="col">
                            <h3><b>Degree : </b> {{academicDetails.degree}}</h3>
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col">
                            <h3><b>State : </b> {{academicDetails.state}}</h3>
                        </div>
                        <div class="col">
                            <h3><b>Country : </b> {{academicDetails.country}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 d-flex align-items-center">
                <i style='font-size:40px;color: indigo;' class='far' [routerLink]="['/resumes/',obtainedResumeId,'academicDetails',academicDetails.id]">&#xf044;</i>
            </div>
            <div class="col-md-1 d-flex align-items-center">
                <i  style='font-size:40px;color: red;' (click)="deleteAcademicDetails(academicDetails.id)" class="fas fa-trash-alt" data-toggle="modal" data-target="#myModal"></i>
            </div>  
          
              
        </div>
    </div>
    <br>
    <div class="card-footer">
        <i class="fas fa-plus" [routerLink]="['/resumes/',obtainedResumeId,'academicDetails']" style='font-size:40px;color: green;'></i>
    </div>
    
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirmation for deletion</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Do you want to delete the details?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            
          <button type="button" class="btn btn-danger" data-dismiss="modal">delete</button>
        </div>
        
      </div>
    </div>
  </div>
  

